{% extends 'base1.html.twig' %}

{% block body %}

    <h1>This is the Training page.</h1>

    <p>Hello {{ name }}! How are you doing today?</p>
    <p>Are you still {{ job_position }}</p>

{% endblock %}
